body {
    background-color: #000;
}


.Wrapper {
    margin-top: 100px;
    margin-top: 100px;
    margin-top: 100px;
}

.sectionDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    padding: 30px;
    margin: 20px auto;
    background-color: #fbfbfb;
    border: 4px solid transparent;
    border-radius: 10px;
    transition: border-color 0.4s ease;
}

.sectionDiv:hover {
    border-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.buttonWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
}

.buttonWrap>button {
    padding: 5px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #000 !important;
    color: #fff;
}

.resDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height:70px;
    border-radius: 20px;
}
